<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.InfoMapper">
    <insert id="insert" parameterType="com.example.demo.entity.Info">
        INSERT info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id ,
            </if>
            <if test="band!=null">
                band
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="band!=null">
                band =#{band}
            </if>
        </trim>
    </insert>
        </mapper>